@model List<MVCWebPresentationLayer.Models.ProdutoQueryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <td>ID</td>
        <td>Descricao</td>
        <td>Preço</td>
        <td>Cor</td>
        <td>VaiPilha</td>
    </tr>

    @foreach (MVCWebPresentationLayer.Models.ProdutoQueryViewModel item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Descricao</td>
            <td>@item.Preco.ToString("C2")</td>
            <td>@item.Cor</td>
            <td>@item.Categoria.Nome</td>
            <td>@item.Fornecedor.Nome</td>
            <td>@item.VaiPilha</td>
        </tr>
    }
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
    </ul>
</nav>
